name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Iamm3taphorical
          template: classic
          base: ""
          config_timezone: Asia/Dhaka
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: no
          plugin_stars: no
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_facts: no
          plugin_introduction: no
          plugin_lines: yes
          plugin_traffic: yes
          filename: github-metrics.svg
